.flowx-editor__wrapper {
  position: relative;

  svg {
    user-select: none;
    font-family: Roboto, sans-serif;
  }
}

.flowx-editor__node-body {
  background-color: transparent;
}

.flowx-editor__delete {
  cursor: pointer;
  margin: 1px;

  rect {
    fill: rgba($color: #fff, $alpha: 0.3);
    fill-opacity: 0.25;
  }

  line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
  }
}

.flowx-editor__pulse {
  animation-duration: 2s;
  animation-name: flowx-editor--node-pulse;
  animation-iteration-count: infinite;
}

@keyframes flowx-editor--node-pulse {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 8;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}

.flowx-editor__animated {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: flowx-editor--link-pulse 50s linear infinite;
}

@keyframes flowx-editor--link-pulse {
  to {
    stroke-dashoffset: 0;
  }
}

.flowx-editor__animated0 {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  animation: flowx-editor-lr--link-pulse 50s linear infinite;
}

.flowx-editor__animated1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 1000;
  background-color: rgb(210, 39, 122);
  animation: flowx-editor-rl--link-pulse 50s linear infinite;
}


@keyframes flowx-editor-lr--link-pulse {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flowx-editor-rl--link-pulse {
  from {
    stroke-dashoffset: 0;
  }
}

.flowx-editor__link1 {
  margin: 5px;
  background-color: rgb(137, 112, 29);
  stroke: rgb(255, 255, 255);
}

.flowx-editor__link0 {
  margin: 5px;
  background-color: rgb(233, 212, 112);
  stroke: rgb(0, 0, 0);
}
